*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(104, 151, 153);
}

h1{
    text-align: center;
    padding: 30px 0px;
    color: rgb(221, 221, 221);
    text-shadow: 1px 2px 1px grey;
}

main{
    width: 600px;
    margin: auto;
}

form{
    height: 400px;
    border: none;
    box-shadow: 3px 3px 4px grey;
    border-radius: 5px;
    background-color: rgb(70, 109, 110);
    display: grid;
    justify-content: center;
    padding: 20px 0px 10px;
}

form label{
    color: beige;
    margin: 10px;
}

textarea{
    display: block;
    width: 500px;
    height: fit-content;
    padding: 10px;
    border-radius: 4px;
    border: none;
    resize: none;
    margin: 10px 0px;
}

input[type="button"]{
    display: block;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    width: 100px;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(12, 173, 12);
}

@media screen and (max-width: 770px){
    main{
        width: 100%;
    }
}
