*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{ font-size: 62.5%; }

body{
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  margin: 1em 0;
  padding: 1em 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}

#searchbar{
  padding: .7em;
  font-size: 1.5rem;
  border: 1px solid #999;
  border-radius: 3px;
  outline-color: skyblue;
}

nav button{
  width: 50%;
  margin: auto;
  justify-self: center;
  border: none;
  border-radius: 4px;
  padding: .6em 2rem;
  background-color: royalblue;
  color: white;
  font-size: 1.6rem;
  font-family: monospace;
  cursor: pointer;
}

main{
  margin-top: 2em;
  padding: 0 .5em;
}

main #error{
  font-size: 1.6rem;
  font-style: italic;
  color: tomato;
  margin-bottom: 1em;
}

#data{
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}

#data div{
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: monospace;
}

main div span{
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (min-width: 400px){}

@media screen and (min-width: 576px){
  nav{ flex-direction: row; }
  #searchbar{ width: 100%; }
  nav button{ width: max-content;}
  body{ width: 70%; }
}

@media screen and (min-width: 768px){
  body{ width: 60%; }
}

@media screen and (min-width: 992px){
  nav{ width: 65%; }
}
